/* Global Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Variables */
:root {
    --color-primary: rgb(70, 86, 113);
    --color-secondary: rgb(158, 206, 208);
    --color-tertiary: rgb(49, 52, 62);
    --color-background: rgb(237, 238, 246);
    --font-main-title: 3.0rem;
    --font-main-title-large: 5.0rem;
    --font-link: 1.2rem;
}

/* Start of Styling of HTML default tags */
html {
    font-size: 16px;
}

body {
    background-color: var(--color-background);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section {
    padding: 25px 100px;
}

/* End of Styling of HTML default tags */

/* Start of Header and Navbar Styles */
header {
    background-color: var(--color-tertiary);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 35px 10px 0;
}

header a {  /* Removed default anchor styling */
    text-decoration: none;
    font-style: normal;
}

.header__title {
    background-color: var(--color-secondary);
    width: 300px;
    text-align: right;
}
.header__title h1 a {
    font-size: var(--font-main-title);
    color: var(--color-primary);
}

.header__nav ul { /* Considered nav as a flexbox item */
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header__nav ul li {
    padding: 0 5px;
    margin: 0 5px; 
    font-size: var(--font-link);
}

.header__nav ul li a {
    margin: 3px;
    padding: 3px 4px 5px 4px;
    color: var(--color-secondary);
    font-size: var(--font-link);
    background-image: linear-gradient(var(--color-secondary), var(--color-secondary));
    background-repeat: no-repeat;
    background-size: 100% 3px; 
    background-position: bottom;
    transition: 0.5s ease-in;
}

.header__nav ul li a:hover { /* animation to nav links */
    color: var(--color-primary);
    background-size: 100% 100%;
}
/* End of Header and Navbar Styles */

/* Start of Hero Section Styles */
.hero {
    background-image: linear-gradient(to bottom, rgba(70, 86, 113, 1.0), rgba(70, 86, 113, 0.5)), url("../images/02-hero-bg.jpg"); 
    background-repeat: no-repeat;
    height: 400px;
    background-position: center;
    position: relative;
}

.hero__content {
    position: absolute;
    bottom: 20px;
    right: 40px;
    width: 300px; 
}

.hero__profile_img {
    background-image: linear-gradient(to top, rgba(70, 86, 113, 0.1), rgba(70, 86, 113, 0.2)), url("../images/profile-img.jpg"); 
    width: 100%;
    height: 300px;
    border-radius: 50% 50% 0 0/ 40% 40%;
}

.hero__subtitle {
    background-color: var(--color-secondary);
    padding: 5px 10px;
    font-size: 1.5rem;
    border-radius: 0% 0% 50% 50%/ 250%;  /* fancy border */
    text-align: center;
}

/* End of Hero Section Styles */

/* Start of Common Class Styles */
.sections {  /* Considered each section as flexbox item */
    display: flex;
    justify-content: start;
    color: var(--color-primary);
}

.sections__title {
    padding: 0;
    text-align: end;
    flex: 0 0 190px;
} 

.sections__content {
    border-left: 0.2rem solid var(--color-primary);
    padding: 0px 0px 5px 30px;
    flex: 1;
}
.sections__title h1 {
    font-size: var(--font-main-title);
    padding-right: 20px;
}
/* End of Common Class Styles */

/* Start of Work Section Styles */
.project-grid-wrapper {
    width: 100%;
}

.project-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 150px);
    grid-gap: 0.4rem;
}

.project-grid-item {
    border: solid 4px var(--color-secondary);
    position: relative;
}
.project-grid-item__img {
    width:100%;
    height:100%;
}
.project-grid-item__img::after {
    opacity: 0;
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(252, 225, 56, 0.3), var(--color-primary));
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.project-grid-item:hover {
    box-shadow: 0 0 10px var(--color-tertiary);
}

.project-grid-item:hover .project-grid-item__img::after {
    opacity: 1;
}

.project-grid-item__title {
    position: absolute;
    bottom: 20px;
    left: 0;
    height:50px;
    color: var(--color-primary);
    background-color: var(--color-secondary);
    border: none;
    padding: 5px 10px;
}

.project-grid-item__title p {
    font-size: small; 
}

.item-main {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.item-1 {
    background-image: url("../images/envoy.jpg");
}
.item-2 {
    background-image: url("../images/img-nef-locator.jpg");
}
.item-3 {
    background-image: url("../images/barrier-tool.jpg");
}
.item-4 {
    background-image: url("../images/date-concierge.jpg");
}
.item-5 {
    background-image: url("../images/02-run-buddy.jpg");
}

/* End of Work Section Styles */

/* Start of Contact Me Styles */
.contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact__item {
    margin: 0px;
}

.contact__item a {
    margin: 3px;
    padding: 3px 4px 5px 4px;
    font-style: normal;
    text-decoration: none;
    color: var(--color-primary);
    font-size: var(--font-link);
    background-image: linear-gradient(var(--color-primary), var(--color-primary));
    background-repeat: no-repeat;
    background-size: 100% 3px; 
    background-position: bottom;
    transition: 0.5s ease-in;
}

.contact__item a:hover {
    color: var(--color-secondary);
    background-size: 100% 100%;
}

/* End of Contact Me Styles */

/* Start of Utility Classes */
.bg-cover {
    background-size: cover;
}

.border-shadow {
    box-shadow: 0 0 10px var(--color-tertiary);
}

.shift-bg {
    background-position: 0px -40px;
}
/* End of Utility Classes */

/* Media Query for smaller desktop screens */
@media screen and (max-width: 980px) {
    header {
        flex-direction: column;
        padding: 0 0;
    }

    section {
        padding: 25px 50px;
    }

    .header__title {
        width: 100%;
        text-align: center;
    }

    .header__title h1 a {
        font-size: var(--font-main-title-large);
    }

    .header__nav ul {
        height: 70px;
        align-items:center;
    }

    .sections {
     flex-direction: column;
    }

    .sections__title {
        text-align: left;
        flex: 0;
        font-size: var(--font-main-title-large);
    }

    .sections__content {
        border-left: none;
        border-top: 0.2rem solid var(--color-primary);
        padding: 30px 0 5px 0;
    }
}

/* Media Query for Tablets and smaller screens */
@media screen and (max-width: 768px) {
    .hero__content {
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .project-grid-container {
        grid-template-columns: none;
        grid-template-rows: repeat(6, 150px);
    }

    .item-main {
        grid-row: 1 / span 2;
    }
    .project-grid-item:not(:first-child) {
        grid-column: span 2;
    }

    .contact {
        flex-direction: column;
        align-items: flex-start;
    }

    .contact__item {
        margin: 0 0 10px 0;
    }
}
