/* Variables */
:root {
    --color-primary: rgb(70, 86, 113);
    --color-secondary: rgb(158, 206, 208);
    --color-tertiary: rgb(49, 52, 62);
    --color-background: rgb(237, 238, 246);
}

/* Global Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Styling of HTML default tags */
html {
    font-size: 16px;
}

body {
    background-color: var(--color-background);
    /* font-family: Helvetica, Arial, sans-serif; */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section {
    padding: 25px 100px;
}

/* Start of Common Class Styles */
.sections {
    display: flex;
    justify-content: start;
    color: var(--color-primary);
}

.sections__title {
    padding: 0 20px;
    text-align: end;
} 

.sections__content {
    border-left: 0.2rem solid var(--color-primary);
    padding: 0px 0px 5px 30px;
    flex: 1 auto;
}
.sections__title h1 {
    font-size: 2.5rem;
}
/* End of Common Class Styles */

/* Start of Header and Navbar Styles */
header {
    background-color: var(--color-tertiary);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 35px 10px 0;
    /* position: -webkit-sticky;
    position: sticky;
    top: 0; */
}

header a {
    text-decoration: none;
}

.header__title {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    width: 300px;
    text-align: right;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header nav ul li {
    padding: 0 5px;
    margin: 0 5px; 
    border-bottom: solid 3px var(--color-secondary);
    font-size: 1.2rem;
}

header nav ul li a {
    color: var(--color-secondary);
}

/* End of Header and Navbar Styles */

/* Start of Hero Section Styles */
.hero {
    /* background-image: url("../images/02-hero-bg.jpg"); */
    /* background-image: linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5)), url("../images/02-hero-bg.jpg"); */
    /* background-image: linear-gradient(to bottom, var(--color-primary), var(--color-tertiary)), url("../images/02-hero-bg.jpg");  */
    background-image: linear-gradient(to bottom, rgba(70, 86, 113, 0.8), rgba(70, 86, 113, 0.5)), url("../images/02-hero-bg.jpg"); 
    background-repeat: no-repeat;
    height: 400px;
    background-position: center;
    

}
/* End of Hero Section Styles */

/* Start of About Me Section Styles */

/* End of About Me Section Styles */

/* Start of Work Section Section Styles */
.project-grid-wrapper {
    width: 100%;
}

.project-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 150px);
    grid-gap: 0.4rem;
}

.project-grid-item {
    border: solid 4px var(--color-secondary);
    position: relative;
}
.project-grid-item__img {
    width:100%;
    height:100%;
}
.project-grid-item__img::after {
    opacity: 0;
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(252, 225, 56, 0.3), var(--color-primary));
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.project-grid-item__title {
    position: absolute;
    bottom: 20px;
    left: 0;
    height:50px;
    color: var(--color-primary);
    background-color: var(--color-secondary);
    border: none;
    padding: 5px 10px;

}

.project-grid-item__title p {
    font-size: small; 
}

.project-grid-item:hover .project-grid-item__img::after {
    opacity: 1;
}

.item-main {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.item-1 {
    background-image: url("../images/02-portfolio-1.jpg");
}
.item-2 {
    background-image: url("../images/02-portfolio-2.jpg");
}
.item-3 {
    background-image: url("../images/02-portfolio-3.jpg");
}
.item-4 {
    background-image: url("../images/02-portfolio-4.jpg");
}
.item-5 {
    background-image: url("../images/02-run-buddy.jpg");
}

/* End of Work Section Section Styles */

/* Start of Contact Me Styles */
.contact {
    /* width: 100%; */
    /* height:100%; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* End of Contact Me Styles */

/* Utility Classes */
.bg-cover {
    background-size: cover;
}